{% extends "base.html"%}

{% block content %}
<!-- Chats container -->
<div class="chat-container"></div>

<!-- Typing container -->
<div class="typing-container">
  <!-- Inside your index.html or other relevant templates -->
  <button type="button" class="btn btn-secondary"><a href="{{ url_for('logout') }}">Logout</a></button>

  <div class="typing-content">
    <div class="typing-textarea">
      <textarea id="chat-input" spellcheck="false" placeholder="Enter a prompt here" required></textarea>
      <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
    
    <div class="typing-controls">
      <span id="theme-btn" class="material-symbols-rounded">light_mode</span>
      <span id="delete-btn" class="material-symbols-rounded">delete</span>
    </div>
  </div>



{% endblock %}